
@import url('https://fonts.googleapis.com/css2?family=Updock&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'open sans';
}

.contenedor {
    padding: 60px 0;
    width: 90%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
}

.contenedor-grey{
    width: 100%;
    padding: 50px 0;
    margin: auto;
    overflow: hidden;
    background-color: #dee2e4;
}


.titulo {
    color: #2a5773;
    font-size: 30px;
    text-align: center;
    margin-bottom: 60px;
}

/* Header */

header {
    width: 100%;
    height: 600px;
    background: #4ebc9b;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, hsla(15   0, 95%, 50%, 0.459), hsla(203, 45%, 52%, 0.664)), url(./img/portada.jpg);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, hsla(150, 95%, 50%, 0.459), hsla(203, 45%, 52%, 0.664)), url(./img/portada.jpg);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}

/*  */

/*  */
.navbar-brand{
    font-family: 'Updock', cursive;
    font-weight: bold;
    font-size: 30px;
    letter-spacing: 2px;
}

.bg-fondo{
    background-color: #3a5e5acc;
    text-shadow: 0 0 2px rgba(196, 173, 121, 0.481)

}



header .textos-header{
    display: flex;
    height: 430px;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.textos-header h1{
    font-family: 'Updock', cursive;
    font-size: 150px;
    color:#fff;
    text-shadow: 0 0 2px rgb(111, 100, 75)
}

.textos-header h2{
    font-size: 30px;
    font-weight: 300;
    font-style: italic;
    color:#fff;
}

.wave{
    position: absolute;
    bottom: 0;
    width: 100%;
}

/* About us */

main .sobre-nosotros{
    padding: 30px 0 60px 0;
}
.contenedor-sobre-nosotros{
    display: flex;
    justify-content: space-evenly;
}

.imagen-about-us{
    width: 28%;
    border-radius: 30px;
}

.sobre-nosotros .contenido-textos{
    width: 48%;
}

.contenido-textos h3{
    margin-bottom: 15px;
}

.contenido-textos h3 span{
    background: #068684;
    color: #fff;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    width: 30px;
    height: 30px;
    padding: 2px;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, .5);
    margin-right: 5px;
}

.contenido-textos p{
    padding: 0px 0px 30px 15px;
    font-weight: 300;
    text-align: justify;
}

/* Galeria */


.portafolio{
    background: #fff;
}

/* .galeria-port{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
} */

.container__cards{
    max-width: 1200px;
    margin: auto;
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card{
    width: 275px;
    margin: 10px;
    transition: all 300ms;
}

.card:hover{
    width: 325px;
}

.card .cover{
    width: 100%;
    height: 250px;
    position: relative;
    overflow: hidden;
}

.card .cover img{
    width: 250px;
    display: block;
    margin: auto;
    position: relative;
    top: 40px;
    z-index: 1;
    filter: drop-shadow(5px 5px 4px rgba(0,0,0,0.5));
    transition: all 400ms;
}

.card:hover .cover img{
    top: 0px;
    filter: none;
}

.card .img__back{
    width: 100%;
    height: 200px;
    position: absolute;
    bottom: -80px;
    left: 0;
    background-size: cover;
    border-radius: 20px;
    transition: all 300ms;
}

.card:nth-of-type(1) .img__back{
    background-image: url(./img/bg1.jpg);
}

.card:nth-of-type(2) .img__back{
    background-image: url(./img/bg2.jpg);
}

.card:nth-of-type(3) .img__back{
    background-image: url(./img/bg3.jpg);
}

.card:hover .img__back{
    bottom: -40px;
}

.card .description{
    background: white;
    margin-top: -10px;
    padding: 20px;
    border-radius: 0px 0px 20px 20px;
    transition: all 300ms;
}

.card:hover .description{
    padding: 40px;
}

.card .description h2{
    margin-top: 10px;
}

.card .description p{
    margin-top: 10px;
}

.card .description input{
    padding: 10px 40px;
    margin-top: 20px;
    border: none;
    background: #A6359D;
    color: white;
    font-size: 14px;
    cursor: pointer;
    border-radius: 8px;
    transition: all 300ms;
}

.card .description input:hover{
    background: #83277b;
}

.contenedor-contacto{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 50px;
}

.mapa{
    box-shadow: #0686846e 5px 5px 5px;
}

.datos-contacto{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    font-weight: bold;
    width: 50%;

}


.dato-contacto {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50%;
}

.datos-contacto img{
    width: 15%;
}

.datos-contacto p{
    width: 70%;
    font-style: italic;
}



footer{
    background: #383d3f;
    padding: 30px 0;
    color: #fff;
    text-align: center;
}



@media screen and (width <= 800px) {
    .textos-header h1{
        font-size: 100px;
    }
    .contenedor-sobre-nosotros{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .imagen-about-us{
        width: 80%;
        margin-bottom: 15px;
    }

    .sobre-nosotros .contenido-textos{
        width: 95%;
    }

    .contenedor-contacto{
        width: 100%
    }

    .mapa{
        width: 100%;
        margin-bottom: 30px;
    }

    .datos-contacto{
        align-items: center;
        flex-direction: column;
        width: 80%;
        align-items: flex-start;
    }

    .dato-contacto{
        width: 90%;
        padding: 20px;

    }
}